@mixin center($type: 'both') {
    display: flex;
    

    @if $type=='vertical' {
        align-items: center;
    }

    @else if $type=='horizontal' {
        justify-content: center;
    }

    @else if $type=='both' {
        justify-content: center;
        align-items: center;
    }
}

@mixin img($type: 'jumbotron'){
    height: 21em;

      img{
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover
    }
}